name: switch_app_freezed
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  freezed_annotation: ^2.4.4
  flutter_riverpod: ^2.6.1
  firebase_core: ^4.2.1
  cloud_firestore: ^6.1.0
  riverpod_annotation: ^2.6.1
  build_runner: ^2.4.13
  freezed: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
